<div class="flex flex-col items-start justify-between gap-y-16">
  <div>
    <div class="bg-red-200 rounded-full h-32 w-32"></div>
    <p class="mt-5 text-2xl font-bold text-gray-400 dark:text-gray-400">
      Lorem Ipsum
    </p>
    <p class="italic text-base mt-3 dark:text-gray-400">Lorem Ipsum</p>
  </div>
  <div class="my-auto dark:text-gray-400">{% include navigation.html %}</div>
  <div class="row-span-2 dark:text-gray-400">
    {% include socialMedia.html %}
  </div>
</div>
