---
layout: default
---

<main
  x-data="{ open: false, 
    toggle() { this.open = ! this.open }, }"
  class="flex"
>
  <!-- SideBar -->
  {% include sidebar.html %}

  <!-- Main Section -->
  <section
    class="w-full lg:flex lg:justify-between lg:container p-5 bg-green-700"
    x-cloak
  >
    {% include header.html %}
    <div class="flex flex-col lg:container">
      <div class="flex flex-col lg:flex-row grow">
        <main class="lg:basis-2/3 lg:container">
          <div>{% include list-posts.html %}</div>
        </main>
        {% include recent-posts.html %}
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<div>{% include footer.html %}</div>
